---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { allPosts } from "../../utils";

export async function getStaticPaths() {
  const posts = await allPosts();
  return posts.map((postData) => ({
    params: { slug: postData.slug },
  }));
}

const { slug } = Astro.params;
const posts = await allPosts();
const post = posts.find((post) => post.slug === slug);
---

<BaseLayout title={post.frontmatter.title}>
  <article>
    <p>{post.date}</p>
    <section>
      <post.Content />
    </section>
  </article>
</BaseLayout>
