---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { allPosts, dateFromPath, slugFromPath } from "../../utils";

export async function getStaticPaths() {
  const posts = allPosts();
  const paths = Object.keys(posts).map((filePath) => ({
    params: { slug: slugFromPath(filePath) },
  }));
  return paths;
}

const { slug } = Astro.params;
const posts = allPosts();
const postImport = Object.entries(posts).find(([path]) =>
  path.endsWith(`${slug}.md`)
);

if (!postImport) {
  throw new Error(`Post not found: ${slug}`);
}

const post = await postImport[1]();
---

<BaseLayout title={post.frontmatter.title}>
  <article>
    <p>{dateFromPath(post.file)}</p>
    <section>
      <post.Content />
    </section>
  </article>
</BaseLayout>
