---
import BaseLayout from "../layouts/BaseLayout.astro";
import { allPosts } from "../utils.js";

// Process each post to extract the slug and date from the file name.
const posts = await allPosts();
---

<BaseLayout title="Home">
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.frontmatter.title}</a> –{" "}
          {post.date}
        </li>
      ))
    }
  </ul>
</BaseLayout>
