---
import siteInfo from "../siteInfo.js";

const { props } = Astro;
const area = props.area ?? props.frontmatter?.area;
const title = props.title ?? props.frontmatter?.title ?? siteInfo.title;
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    <title>{title}</title>
  </head>
  <body class={area ?? ""}>
    <header>
      <a href="/" class="home">{siteInfo.title}</a>
      <a href="/about.html" class="about">About</a>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
